body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(11, 26, 44);
  color: rgb(231, 231, 231);
  background-image: url("./Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}

.header {
  margin-bottom: 50px;
}

h1 {
  font-size: 30px;
  margin: 10px;
}

.nav-bar--list {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}

li {
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li:first-child {
  text-decoration: underline;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  color: rgb(214, 175, 0);
}

li a:visited {
  color: white;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input[type="text"]:focus {
  background-color: rgba(218, 216, 216, 0.753);
}

.song-title {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

select {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

select:focus {
  background-color: rgba(211, 211, 211, 0.63);
}

button {
  background-color: rgba(231, 193, 20, 0.589);
  border: 2px black solid;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: rgba(214, 175, 0, 0.753);
  cursor: pointer;
}
